body {
  font-family: "Ubuntu", sans-serif;
  background-color: #e7d1ff; }
  body .contenedor-padre {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
    body .contenedor-padre header {
      grid-area: header;
      font-family: "Montserrat", sans-serif;
      background-color: #f6c504; }
    body .contenedor-padre main {
      grid-area: main; }
    body .contenedor-padre footer {
      grid-area: footer; }
  body li {
    list-style-type: none; }
  body a {
    text-decoration: none; }
  body h1 {
    display: none; }

@media only screen and (max-width: 768px) {
  main .tituloDePagina__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin: 24px 0; }
    main .tituloDePagina__contenedor .tituloDePagina__titulo {
      text-transform: uppercase;
      font-size: 30px;
      text-align: center; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  main .tituloDePagina__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 128px; }
    main .tituloDePagina__contenedor .tituloDePagina__titulo {
      text-transform: uppercase;
      font-size: 40px;
      text-align: center; } }

@media only screen and (min-width: 1024px) {
  main .tituloDePagina__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 128px; }
    main .tituloDePagina__contenedor .tituloDePagina__titulo {
      text-transform: uppercase;
      font-size: 40px;
      text-align: center; } }

@media only screen and (max-width: 768px) {
  .header__superior {
    width: 100%;
    height: 64px;
    display: grid;
    grid-template-areas: "logo busqueda iconos";
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 100%; }
    .header__superior .header__logo {
      display: none; }
    .header__superior .header__logo--mobile {
      grid-area: logo;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header__superior .header__logo--tam {
      width: 10vw;
      max-width: 40px; }
    .header__superior .header__busqueda {
      grid-area: busqueda;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__superior .header__busqueda h5 {
        display: none; }
      .header__superior .header__busqueda .header__busqueda__bar--boton {
        width: 45vw;
        max-width: 80%;
        height: auto;
        padding: 0 20px;
        border: 2px solid silver;
        border-radius: 5px; }
      .header__superior .header__busqueda .icono--gris {
        display: none; }
    .header__superior .header__iconos {
      grid-area: iconos; }
      .header__superior .header__iconos h4 {
        display: none; }
      .header__superior .header__iconos .contenedor__header--iconos {
        display: grid;
        grid-template-areas: "burger carrito";
        grid-template-columns: 50% 50%;
        grid-template-rows: 64px; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--usuario {
          display: none; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--carrito {
          grid-area: carrito;
          display: flex;
          align-items: center;
          justify-content: center; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__icono--mobile {
          grid-area: burger;
          display: flex;
          align-items: center;
          justify-content: center; }
        .header__superior .header__iconos .contenedor__header--iconos svg.icono {
          color: #660099;
          width: 7vw;
          max-width: 30px; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__flecha--abajo {
          display: none; }
  nav {
    display: none; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .header__superior {
    width: 100%;
    height: 64px;
    display: grid;
    grid-template-areas: "logo busqueda iconos";
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 100%; }
    .header__superior .header__logo {
      display: none; }
    .header__superior .header__logo--mobile {
      grid-area: logo;
      display: flex;
      align-items: center;
      justify-content: center; }
    .header__superior .header__logo--tam {
      width: 10vw;
      max-width: 40px; }
    .header__superior .header__busqueda {
      grid-area: busqueda;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__superior .header__busqueda h5 {
        display: none; }
      .header__superior .header__busqueda .header__busqueda__bar--boton {
        width: 45vw;
        max-width: 100%;
        height: 2.5vh;
        padding: 0 20px;
        border: 2px solid silver;
        border-radius: 5px; }
      .header__superior .header__busqueda .icono--gris {
        display: none; }
    .header__superior .header__iconos {
      grid-area: iconos; }
      .header__superior .header__iconos h4 {
        display: none; }
      .header__superior .header__iconos .contenedor__header--iconos {
        display: grid;
        grid-template-areas: "burger carrito";
        grid-template-columns: 50% 50%;
        grid-template-rows: 64px; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--usuario {
          display: none; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--carrito {
          grid-area: carrito;
          display: flex;
          align-items: center;
          justify-content: center; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__icono--mobile {
          grid-area: burger;
          display: flex;
          align-items: center;
          justify-content: center; }
        .header__superior .header__iconos .contenedor__header--iconos svg.icono {
          color: #660099;
          width: 7vw;
          max-width: 30px; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__flecha--abajo {
          display: none; }
  nav {
    display: none; } }

@media only screen and (min-width: 1024px) {
  .header__superior {
    display: grid;
    grid-template-areas: "logo busqueda iconos";
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 300px; }
    .header__superior .header__logo {
      grid-area: logo;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__superior .header__logo a {
        display: flex;
        align-items: center;
        justify-content: center; }
      .header__superior .header__logo .header__logo--tam {
        width: 75%; }
    .header__superior .header__logo--mobile {
      display: none; }
    .header__superior .header__busqueda {
      grid-area: busqueda;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__superior .header__busqueda h5 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px; }
      .header__superior .header__busqueda .header__busqueda__bar--boton {
        width: 450px;
        height: 30px;
        padding: 0 20px;
        border: 2px solid silver;
        border-radius: 5px; }
      .header__superior .header__busqueda .icono--gris {
        color: silver;
        width: 20px; }
    .header__superior .header__iconos {
      grid-area: iconos;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header__superior .header__iconos h4 {
        color: #660099;
        text-transform: uppercase;
        font-size: 20px;
        padding: 0px 15px; }
      .header__superior .header__iconos .contenedor__header--iconos .header__iconos--usuario, .header__superior .header__iconos .contenedor__header--iconos .header__iconos--carrito {
        display: flex;
        justify-content: space-around; }
      .header__superior .header__iconos .contenedor__header--iconos .contenedor__icono--mobile {
        display: none; }
      .header__superior .header__iconos .contenedor__header--iconos svg.icono {
        color: #660099;
        width: 30px; }
      .header__superior .header__iconos .contenedor__header--iconos .contenedor__flecha--abajo {
        display: flex;
        align-items: center;
        justify-content: center; }
  nav {
    background-color: #660099; }
    nav .header__nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: auto;
      height: 56px;
      margin: 0;
      padding: 0; }
      nav .header__nav li {
        width: 150px;
        display: flex;
        justify-content: center; }
        nav .header__nav li .nav__item--tipografia {
          color: #fff;
          font-weight: bold;
          font-size: 20px; } }

@media only screen and (max-width: 768px) {
  footer .footer__redes {
    display: flex;
    background: #660099;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 0 0; }
    footer .footer__redes .footer_redes--iconos svg.icon {
      width: 3vh;
      min-width: 20px; }
  footer .footer__derechos {
    background: #f6c504;
    height: auto;
    display: grid;
    grid-template-areas: "navPrin navSecu" "derechos derechos";
    grid-template-columns: 50% 50%; }
    footer .footer__derechos h3 {
      grid-area: derechos;
      margin: 0 0 20px 0;
      color: #660099;
      font-size: 1.5vh;
      text-align: center; }
    footer .footer__derechos .nav__principal {
      grid-area: navPrin;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
      margin: 0 0 0 25px; }
    footer .footer__derechos .nav__secundaria {
      grid-area: navSecu;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin: 0 25px 0 0;
      text-align: end; }
    footer .footer__derechos nav ul {
      margin: 20px 0;
      padding: 0; }
      footer .footer__derechos nav ul li a {
        font-weight: 500;
        color: #660099; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  footer .footer__redes {
    display: flex;
    background: #660099;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 0 0; }
    footer .footer__redes .footer_redes--iconos svg.icon {
      width: 3vh; }
  footer .footer__derechos {
    background: #f6c504;
    height: auto;
    display: grid;
    grid-template-areas: "navPrin navSecu" "derechos derechos";
    grid-template-columns: 50% 50%; }
    footer .footer__derechos h3 {
      grid-area: derechos;
      margin: 0 0 20px 0;
      color: #660099;
      font-size: 18px;
      text-align: center; }
    footer .footer__derechos .nav__principal {
      grid-area: navPrin;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
      margin: 0 0 0 25px; }
    footer .footer__derechos .nav__secundaria {
      grid-area: navSecu;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin: 0 25px 0 0;
      text-align: end; }
    footer .footer__derechos nav ul {
      margin: 20px 0;
      padding: 0; }
      footer .footer__derechos nav ul li a {
        font-weight: 500;
        color: #660099; } }

@media only screen and (min-width: 1024px) {
  footer .footer__redes {
    display: flex;
    background: #660099;
    height: 56px;
    justify-content: space-evenly;
    align-items: center; }
    footer .footer__redes .footer_redes--iconos svg.icon {
      width: 30px; }
  footer .footer__derechos {
    background: #f6c504;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .footer__derechos h3 {
      margin: 0;
      color: #660099;
      font-size: 20px; }
    footer .footer__derechos nav {
      display: none; } }

@media only screen and (max-width: 768px) {
  .contenedor-main {
    display: grid;
    grid-template-areas: "destacado" "subtituloProdDes" "prodDes" "subtituloSucPrin" "sucPrin";
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor-main .icono__flecha {
      width: 100%; }
    .contenedor-main .section__bg {
      background-image: url(../assets/img/pick1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px; }
    .contenedor-main .destacado {
      grid-area: destacado;
      display: grid;
      grid-template-areas: "fleIzq botonDes fleDer";
      grid-template-columns: 10% 80% 10%; }
      .contenedor-main .destacado .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .icono__flecha--izquierda .icono__flecha--secundaria {
          color: #f6c504; }
      .contenedor-main .destacado .destacado__imagen {
        display: none; }
      .contenedor-main .destacado .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .icono__flecha--derecha .icono__flecha--secundaria {
          color: #f6c504; }
      .contenedor-main .destacado .destacado__textos {
        grid-area: botonDes;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 20px 0; }
        .contenedor-main .destacado .destacado__textos .subtitulo__texto {
          color: #fff;
          text-transform: uppercase;
          margin: 0 0 0 5vw;
          font-size: 1.5vh; }
        .contenedor-main .destacado .destacado__textos .subtitulo__texto--destacado {
          margin: 0;
          font-size: 5vw;
          text-shadow: 0 0 10px #f6c504;
          text-align: center;
          margin-bottom: 10px; }
        .contenedor-main .destacado .destacado__textos .boton__principal {
          color: #660099;
          background-color: #f6c504;
          width: 60%;
          height: 15%;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 3vw;
          border: 5px outset #fefd97;
          box-shadow: 3px 3px 20px 0 #000;
          border-radius: 10px; }
    .contenedor-main .subtitulo {
      background: #660099;
      height: 5vh;
      display: flex;
      align-items: center; }
      .contenedor-main .subtitulo .subtitulo__texto {
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 0 5vw;
        font-size: 1.5vh; }
    .contenedor-main .subt1 {
      grid-area: subtituloProdDes; }
    .contenedor-main .productosDestacados {
      grid-area: prodDes;
      display: grid;
      grid-template-areas: "fleIzq cardProd fleDer";
      grid-template-columns: 10% 80% 10%; }
      .contenedor-main .productosDestacados .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .productosDestacados .icono__flecha--izquierda .icono__flecha--principal {
          color: #660099; }
      .contenedor-main .productosDestacados .contenedor__cardProducto {
        grid-area: cardProd;
        display: flex;
        justify-content: space-evenly; }
        .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto {
          width: 50%;
          box-shadow: 0px 0px 20px 0 #000;
          border-radius: 5px;
          margin: 20px 0;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__img {
            width: 80%; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__titulo {
            text-transform: uppercase;
            font-size: 20px;
            text-align: center; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__descripcion {
            display: none; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__precio {
            font-size: 30px; }
        .contenedor-main .productosDestacados .contenedor__cardProducto .prod2, .contenedor-main .productosDestacados .contenedor__cardProducto .prod3 {
          display: none; }
      .contenedor-main .productosDestacados .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .productosDestacados .icono__flecha--derecha .icono__flecha--principal {
          color: #660099; }
    .contenedor-main .subt2 {
      grid-area: subtituloSucPrin; }
    .contenedor-main .sucursalesPrincipales {
      grid-area: sucPrin;
      display: grid;
      grid-template-areas: "fleIzq cardSucur fleDer";
      grid-template-columns: 10% 80% 10%; }
      .contenedor-main .sucursalesPrincipales .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .sucursalesPrincipales .icono__flecha--izquierda .icono__flecha--principal {
          color: #660099; }
      .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales {
        grid-area: cardSucur;
        display: flex;
        justify-content: space-evenly; }
        .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .contenedor__imagenSucursal {
            width: 70%;
            height: 35vw;
            overflow: hidden;
            margin: 20px 40px 10px 40px;
            position: relative;
            border-radius: 10px; }
            .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .contenedor__imagenSucursal .cardSucursales__imagen {
              position: absolute;
              width: 500px;
              left: -100%;
              right: -100%;
              top: -100%;
              bottom: -100%;
              margin: auto;
              min-height: 100%;
              min-width: 100%; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__titulo {
            display: flex;
            justify-content: center;
            font-size: 20px;
            margin: 10px 0 10px 0; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info svg.iconoSucursal {
            width: 30px; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--direccion, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--telefono {
            display: flex;
            align-items: center;
            justify-content: flex-start; }
            .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--direccion p, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--telefono p {
              padding: 0 0 0 15px;
              font-size: 15px;
              text-align: center; }
        .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .sucur2, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .sucur3 {
          display: none; }
      .contenedor-main .sucursalesPrincipales .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .sucursalesPrincipales .icono__flecha--derecha .icono__flecha--principal {
          color: #660099; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .contenedor-main {
    display: grid;
    grid-template-areas: "destacado" "subtituloProdDes" "prodDes" "subtituloSucPrin" "sucPrin";
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor-main .icono__flecha {
      width: 100%; }
    .contenedor-main .section__bg {
      background-image: url(../assets/img/pick1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px; }
    .contenedor-main .destacado {
      grid-area: destacado;
      display: grid;
      grid-template-areas: "fleIzq botonDes fleDer";
      grid-template-columns: 10% 80% 10%; }
      .contenedor-main .destacado .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .icono__flecha--izquierda .icono__flecha--secundaria {
          color: #f6c504; }
      .contenedor-main .destacado .destacado__imagen {
        display: none; }
      .contenedor-main .destacado .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .icono__flecha--derecha .icono__flecha--secundaria {
          color: #f6c504; }
      .contenedor-main .destacado .destacado__textos {
        grid-area: botonDes;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 20px 0; }
        .contenedor-main .destacado .destacado__textos .subtitulo__texto {
          color: #fff;
          text-transform: uppercase;
          margin: 0 0 0 5vw;
          font-size: 1.5vh; }
        .contenedor-main .destacado .destacado__textos .subtitulo__texto--destacado {
          margin: 0;
          font-size: 5vw;
          text-shadow: 0 0 10px #f6c504;
          text-align: center;
          margin-bottom: 10px; }
        .contenedor-main .destacado .destacado__textos .boton__principal {
          color: #660099;
          background-color: #f6c504;
          width: 60%;
          height: 15%;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 3vw;
          border: 5px outset #fefd97;
          box-shadow: 3px 3px 20px 0 #000;
          border-radius: 10px; }
    .contenedor-main .subtitulo {
      background: #660099;
      height: 5vh;
      display: flex;
      align-items: center; }
      .contenedor-main .subtitulo .subtitulo__texto {
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 0 5vw;
        font-size: 1.5vh; }
    .contenedor-main .subt1 {
      grid-area: subtituloProdDes; }
    .contenedor-main .productosDestacados {
      grid-area: prodDes;
      display: grid;
      grid-template-areas: "fleIzq cardProd fleDer";
      grid-template-columns: 10% 80% 10%; }
      .contenedor-main .productosDestacados .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .productosDestacados .icono__flecha--izquierda .icono__flecha--principal {
          color: #660099; }
      .contenedor-main .productosDestacados .contenedor__cardProducto {
        grid-area: cardProd;
        display: flex;
        justify-content: space-evenly; }
        .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto {
          width: 50%;
          box-shadow: 0px 0px 20px 0 #000;
          border-radius: 5px;
          margin: 20px 0;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__img {
            width: 80%; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__titulo {
            text-transform: uppercase;
            font-size: 20px;
            text-align: center; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__descripcion {
            display: none; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__precio {
            font-size: 30px; }
        .contenedor-main .productosDestacados .contenedor__cardProducto .prod2, .contenedor-main .productosDestacados .contenedor__cardProducto .prod3 {
          display: none; }
      .contenedor-main .productosDestacados .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .productosDestacados .icono__flecha--derecha .icono__flecha--principal {
          color: #660099; }
    .contenedor-main .subt2 {
      grid-area: subtituloSucPrin; }
    .contenedor-main .sucursalesPrincipales {
      grid-area: sucPrin;
      display: grid;
      grid-template-areas: "fleIzq cardSucur fleDer";
      grid-template-columns: 10% 80% 10%; }
      .contenedor-main .sucursalesPrincipales .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .sucursalesPrincipales .icono__flecha--izquierda .icono__flecha--principal {
          color: #660099; }
      .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales {
        grid-area: cardSucur;
        display: flex;
        justify-content: space-evenly; }
        .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .contenedor__imagenSucursal {
            width: 70%;
            height: 35vw;
            overflow: hidden;
            margin: 20px 40px 10px 40px;
            position: relative;
            border-radius: 10px; }
            .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .contenedor__imagenSucursal .cardSucursales__imagen {
              position: absolute;
              width: 500px;
              left: -100%;
              right: -100%;
              top: -100%;
              bottom: -100%;
              margin: auto;
              min-height: 100%;
              min-width: 100%; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__titulo {
            display: flex;
            justify-content: center;
            font-size: 20px;
            margin: 10px 0 10px 0; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info svg.iconoSucursal {
            width: 30px; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--direccion, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--telefono {
            display: flex;
            align-items: center;
            justify-content: flex-start; }
            .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--direccion p, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--telefono p {
              padding: 0 0 0 15px;
              font-size: 15px;
              text-align: center; }
        .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .sucur2, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .sucur3 {
          display: none; }
      .contenedor-main .sucursalesPrincipales .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .sucursalesPrincipales .icono__flecha--derecha .icono__flecha--principal {
          color: #660099; } }

@media only screen and (min-width: 1024px) {
  .contenedor-main {
    display: grid;
    grid-template-areas: "destacado" "subtituloProdDes" "prodDes" "subtituloSucPrin" "sucPrin";
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor-main .section__bg {
      background-image: url(../assets/img/textura_fondo.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
    .contenedor-main .icono__flecha {
      width: 80%; }
    .contenedor-main .destacado {
      grid-area: destacado;
      display: grid;
      grid-template-areas: "fleIzq txtDes imgDes fleDer";
      grid-template-columns: 5% 40% 50% 5%; }
      .contenedor-main .destacado .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .icono__flecha--izquierda .icono__flecha--secundaria {
          color: #f6c504; }
      .contenedor-main .destacado .destacado__imagen {
        margin: 20px 0px;
        grid-area: imgDes;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .destacado__imagen .destacado__imagen--efecto {
          border-radius: 5px;
          width: 80%; }
      .contenedor-main .destacado .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .icono__flecha--derecha .icono__flecha--secundaria {
          color: #f6c504; }
      .contenedor-main .destacado .destacado__textos {
        grid-area: txtDes;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .destacado .destacado__textos .subtitulo__texto {
          color: #fff;
          text-transform: uppercase;
          margin: 0 0 0 100px;
          font-size: 25px; }
        .contenedor-main .destacado .destacado__textos .subtitulo__texto--destacado {
          margin: 0;
          font-size: 5vw;
          text-shadow: 0 0 10px #f6c504;
          text-align: center;
          margin-bottom: 20px; }
        .contenedor-main .destacado .destacado__textos .boton__principal {
          color: #660099;
          background-color: #f6c504;
          width: 60%;
          height: 15%;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 2vw;
          border: 5px outset #fefd97;
          box-shadow: 3px 3px 20px 0 #000;
          border-radius: 10px;
          margin-top: 20px; }
    .contenedor-main .subtitulo {
      background: #660099;
      height: 56px;
      display: flex;
      align-items: center; }
      .contenedor-main .subtitulo .subtitulo__texto {
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 0 100px;
        font-size: 25px; }
    .contenedor-main .subt1 {
      grid-area: subtituloProdDes; }
    .contenedor-main .productosDestacados {
      grid-area: prodDes;
      display: grid;
      grid-template-areas: "fleIzq cardProd fleDer";
      grid-template-columns: 5% 90% 5%; }
      .contenedor-main .productosDestacados .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .productosDestacados .icono__flecha--izquierda .icono__flecha--principal {
          color: #660099; }
      .contenedor-main .productosDestacados .contenedor__cardProducto {
        grid-area: cardProd;
        display: flex;
        justify-content: space-evenly; }
        .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto {
          width: 25%;
          box-shadow: 0px 0px 20px 0 #000;
          border-radius: 5px;
          padding: 0 15px;
          margin: 40px 0;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__img {
            width: 80%; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__titulo {
            text-transform: uppercase;
            font-size: 20px; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__descripcion {
            width: 90%;
            font-size: 16px;
            font-weight: 400; }
          .contenedor-main .productosDestacados .contenedor__cardProducto .cardProducto .cardProducto__precio {
            font-size: 30px; }
      .contenedor-main .productosDestacados .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .productosDestacados .icono__flecha--derecha .icono__flecha--principal {
          color: #660099; }
    .contenedor-main .subt2 {
      grid-area: subtituloSucPrin; }
    .contenedor-main .sucursalesPrincipales {
      grid-area: sucPrin;
      display: grid;
      grid-template-areas: "fleIzq cardSucur fleDer";
      grid-template-columns: 5% 90% 5%; }
      .contenedor-main .sucursalesPrincipales .icono__flecha--izquierda {
        grid-area: fleIzq;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .sucursalesPrincipales .icono__flecha--izquierda .icono__flecha--principal {
          color: #660099; }
      .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales {
        grid-area: cardSucur;
        display: flex;
        justify-content: space-evenly; }
        .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .contenedor__imagenSucursal {
            width: 90%;
            height: 20vw;
            overflow: hidden;
            margin: 40px 20px;
            position: relative;
            border-radius: 10px; }
            .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .contenedor__imagenSucursal .cardSucursales__imagen {
              position: absolute;
              width: 500px;
              left: -100%;
              right: -100%;
              top: -100%;
              bottom: -100%;
              margin: auto;
              min-height: 100%;
              min-width: 100%; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__titulo {
            display: flex;
            justify-content: center;
            font-size: 2.5vw;
            margin: 0 0 20px 0; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info svg.iconoSucursal {
            width: 40px; }
          .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--direccion, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--telefono {
            display: flex;
            align-items: center;
            justify-content: flex-start; }
            .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--direccion p, .contenedor-main .sucursalesPrincipales .contenedor__cardSucursales .cardSucursales .cardSucursales__info .cardSucursales__info--telefono p {
              padding: 0 0 0 15px;
              font-size: 25px; }
      .contenedor-main .sucursalesPrincipales .icono__flecha--derecha {
        grid-area: fleDer;
        display: flex;
        align-items: center;
        justify-content: center; }
        .contenedor-main .sucursalesPrincipales .icono__flecha--derecha .icono__flecha--principal {
          color: #660099; } }

@media only screen and (max-width: 768px) {
  main .contenedorPadre__nosotros {
    display: grid;
    grid-template-areas: "titulo" "texto" "imagen";
    grid-template-columns: 100%; }
    main .contenedorPadre__nosotros .tituloDePagina__contenedor {
      grid-area: titulo; }
    main .contenedorPadre__nosotros .nosotros__texto {
      grid-area: texto;
      margin: 0 20px 12px 20px;
      line-height: 20px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center; }
    main .contenedorPadre__nosotros .nosotros__imagen {
      grid-area: imagen;
      margin: 0 auto 24px;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .contenedorPadre__nosotros .nosotros__imagen .img__nosotros {
        border-radius: 5px;
        width: 80%; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  main .contenedorPadre__nosotros {
    display: grid;
    grid-template-areas: "titulo" "texto" "imagen";
    grid-template-columns: 100%; }
    main .contenedorPadre__nosotros .tituloDePagina__contenedor {
      grid-area: titulo; }
    main .contenedorPadre__nosotros .nosotros__texto {
      grid-area: texto;
      margin: 0 40px 24px 40px;
      line-height: 20px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .contenedorPadre__nosotros .nosotros__texto p {
        margin: 0; }
    main .contenedorPadre__nosotros .nosotros__imagen {
      grid-area: imagen;
      margin: 0 auto 24px;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .contenedorPadre__nosotros .nosotros__imagen .img__nosotros {
        border-radius: 5px;
        width: 80%; } }

@media only screen and (min-width: 1024px) {
  main .contenedorPadre__nosotros {
    display: grid;
    grid-template-areas: "titulo titulo" "texto imagen";
    grid-template-columns: 50% 50%; }
    main .contenedorPadre__nosotros .tituloDePagina__contenedor {
      grid-area: titulo; }
    main .contenedorPadre__nosotros .nosotros__texto {
      grid-area: texto;
      margin: 0 40px 40px 40px;
      line-height: 24px; }
      main .contenedorPadre__nosotros .nosotros__texto p {
        margin: 0; }
    main .contenedorPadre__nosotros .nosotros__imagen {
      grid-area: imagen;
      margin: 0 0 40px 0;
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .contenedorPadre__nosotros .nosotros__imagen .img__nosotros {
        border-radius: 5px;
        width: 80%; } }
