body {
  font-family: "Ubuntu", sans-serif;
  background-color: #e7d1ff; }
  body .contenedor-padre {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
    body .contenedor-padre header {
      grid-area: header;
      font-family: "Montserrat", sans-serif;
      background-color: #f6c504; }
    body .contenedor-padre main {
      grid-area: main; }
    body .contenedor-padre footer {
      grid-area: footer; }
  body li {
    list-style-type: none; }
  body a {
    text-decoration: none; }
  body h1 {
    display: none; }

@media only screen and (max-width: 768px) {
  main .tituloDePagina__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin: 24px 0; }
    main .tituloDePagina__contenedor .tituloDePagina__titulo {
      text-transform: uppercase;
      font-size: 30px;
      text-align: center; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  main .tituloDePagina__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px; }
    main .tituloDePagina__contenedor .tituloDePagina__titulo {
      text-transform: uppercase;
      font-size: 40px;
      text-align: center; } }

@media only screen and (min-width: 1024px) {
  main .tituloDePagina__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px; }
    main .tituloDePagina__contenedor .tituloDePagina__titulo {
      text-transform: uppercase;
      font-size: 40px;
      text-align: center; } }

@media only screen and (max-width: 768px) {
  .header__superior {
    height: 64px;
    display: grid;
    grid-template-areas: "logo busqueda iconos";
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 100%; }
    .header__superior .header__logo {
      display: none; }
    .header__superior .header__logo--mobile {
      grid-area: logo;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header__superior .header__logo--tam {
      width: 10vw;
      max-width: 40px; }
    .header__superior .header__busqueda {
      grid-area: busqueda;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__superior .header__busqueda h5 {
        display: none; }
      .header__superior .header__busqueda .header__busqueda__bar--boton {
        width: 45vw;
        max-width: 80%;
        height: auto;
        padding: 0 20px;
        border: 2px solid silver;
        border-radius: 5px; }
      .header__superior .header__busqueda .icono--gris {
        display: none; }
    .header__superior .header__iconos {
      grid-area: iconos; }
      .header__superior .header__iconos h4 {
        display: none; }
      .header__superior .header__iconos .contenedor__header--iconos {
        display: grid;
        grid-template-areas: "burger carrito";
        grid-template-columns: 50% 50%;
        grid-template-rows: 64px; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--usuario {
          display: none; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--carrito {
          grid-area: carrito;
          display: flex;
          justify-content: center;
          align-items: center; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__icono--mobile {
          grid-area: burger;
          display: flex;
          justify-content: center;
          align-items: center; }
        .header__superior .header__iconos .contenedor__header--iconos svg.icono {
          color: #660099;
          width: 7vw;
          max-width: 30px; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__flecha--abajo {
          display: none; }
  nav {
    display: none; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .header__superior {
    height: 64px;
    display: grid;
    grid-template-areas: "logo busqueda iconos";
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 100%; }
    .header__superior .header__logo {
      display: none; }
    .header__superior .header__logo--mobile {
      grid-area: logo;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header__superior .header__logo--tam {
      width: 10vw;
      max-width: 40px; }
    .header__superior .header__busqueda {
      grid-area: busqueda;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__superior .header__busqueda h5 {
        display: none; }
      .header__superior .header__busqueda .header__busqueda__bar--boton {
        width: 45vw;
        max-width: 100%;
        height: 2.5vh;
        padding: 0 20px;
        border: 2px solid silver;
        border-radius: 5px; }
      .header__superior .header__busqueda .icono--gris {
        display: none; }
    .header__superior .header__iconos {
      grid-area: iconos; }
      .header__superior .header__iconos h4 {
        display: none; }
      .header__superior .header__iconos .contenedor__header--iconos {
        display: grid;
        grid-template-areas: "burger carrito";
        grid-template-columns: 50% 50%;
        grid-template-rows: 64px; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--usuario {
          display: none; }
        .header__superior .header__iconos .contenedor__header--iconos .header__iconos--carrito {
          grid-area: carrito;
          display: flex;
          justify-content: center;
          align-items: center; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__icono--mobile {
          grid-area: burger;
          display: flex;
          justify-content: center;
          align-items: center; }
        .header__superior .header__iconos .contenedor__header--iconos svg.icono {
          color: #660099;
          width: 7vw;
          max-width: 30px; }
        .header__superior .header__iconos .contenedor__header--iconos .contenedor__flecha--abajo {
          display: none; }
  nav {
    display: none; } }

@media only screen and (min-width: 1024px) {
  .header__superior {
    display: grid;
    grid-template-areas: "logo busqueda iconos";
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 300px; }
    .header__superior .header__logo {
      grid-area: logo;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__superior .header__logo a {
        display: flex;
        justify-content: center;
        align-items: center; }
      .header__superior .header__logo .header__logo--tam {
        width: 75%; }
    .header__superior .header__logo--mobile {
      display: none; }
    .header__superior .header__busqueda {
      grid-area: busqueda;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__superior .header__busqueda h5 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px; }
      .header__superior .header__busqueda .header__busqueda__bar--boton {
        width: 450px;
        height: 30px;
        padding: 0 20px;
        border: 2px solid silver;
        border-radius: 5px; }
      .header__superior .header__busqueda .icono--gris {
        color: silver;
        width: 20px; }
    .header__superior .header__iconos {
      grid-area: iconos;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__superior .header__iconos h4 {
        color: #660099;
        text-transform: uppercase;
        font-size: 20px;
        padding: 0px 15px; }
      .header__superior .header__iconos .contenedor__header--iconos .header__iconos--usuario, .header__superior .header__iconos .contenedor__header--iconos .header__iconos--carrito {
        display: flex;
        justify-content: space-around; }
      .header__superior .header__iconos .contenedor__header--iconos .contenedor__icono--mobile {
        display: none; }
      .header__superior .header__iconos .contenedor__header--iconos svg.icono {
        color: #660099;
        width: 30px; }
      .header__superior .header__iconos .contenedor__header--iconos .contenedor__flecha--abajo {
        display: flex;
        align-items: center; }
  nav {
    background-color: #660099; }
    nav .header__nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: auto;
      height: 56px;
      margin: 0;
      padding: 0; }
      nav .header__nav li {
        width: 150px;
        display: flex;
        justify-content: center; }
        nav .header__nav li .nav__item--tipografia {
          color: #fff;
          font-weight: bold;
          font-size: 20px; } }

@media only screen and (max-width: 768px) {
  footer .footer__redes {
    display: flex;
    background: #660099;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 0 0; }
    footer .footer__redes .footer_redes--iconos svg.icon {
      width: 3vh;
      min-width: 20px; }
  footer .footer__derechos {
    background: #f6c504;
    height: auto;
    display: grid;
    grid-template-areas: "navPrin navSecu" "derechos derechos";
    grid-template-columns: 50% 50%; }
    footer .footer__derechos h3 {
      grid-area: derechos;
      margin: 0 0 20px 0;
      color: #660099;
      font-size: 1.5vh;
      text-align: center; }
    footer .footer__derechos .nav__principal {
      grid-area: navPrin;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
      margin: 0 0 0 25px; }
    footer .footer__derechos .nav__secundaria {
      grid-area: navSecu;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin: 0 25px 0 0;
      text-align: end; }
    footer .footer__derechos nav ul {
      margin: 20px 0;
      padding: 0; }
      footer .footer__derechos nav ul li a {
        font-weight: 500;
        color: #660099; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  footer .footer__redes {
    display: flex;
    background: #660099;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 0 0; }
    footer .footer__redes .footer_redes--iconos svg.icon {
      width: 3vh; }
  footer .footer__derechos {
    background: #f6c504;
    height: auto;
    display: grid;
    grid-template-areas: "navPrin navSecu" "derechos derechos";
    grid-template-columns: 50% 50%; }
    footer .footer__derechos h3 {
      grid-area: derechos;
      margin: 0 0 20px 0;
      color: #660099;
      font-size: 18px;
      text-align: center; }
    footer .footer__derechos .nav__principal {
      grid-area: navPrin;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: start;
      margin: 0 0 0 25px; }
    footer .footer__derechos .nav__secundaria {
      grid-area: navSecu;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin: 0 25px 0 0;
      text-align: end; }
    footer .footer__derechos nav ul {
      margin: 20px 0;
      padding: 0; }
      footer .footer__derechos nav ul li a {
        font-weight: 500;
        color: #660099; } }

@media only screen and (min-width: 1024px) {
  footer .footer__redes {
    display: flex;
    background: #660099;
    height: 56px;
    justify-content: space-evenly;
    align-items: center; }
    footer .footer__redes .footer_redes--iconos svg.icon {
      width: 30px; }
  footer .footer__derechos {
    background: #f6c504;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer__derechos h3 {
      margin: 0;
      color: #660099;
      font-size: 20px; }
    footer .footer__derechos nav {
      display: none; } }

@media only screen and (max-width: 768px) {
  main .contenedorPadre__nosotros {
    display: grid;
    grid-template-areas: "titulo" "texto" "imagen";
    grid-template-columns: 100%; }
    main .contenedorPadre__nosotros .tituloDePagina__contenedor {
      grid-area: titulo; }
    main .contenedorPadre__nosotros .nosotros__texto {
      grid-area: texto;
      margin: 0 20px 12px 20px;
      line-height: 20px;
      font-size: 16px;
      display: flex;
      justify-content: center; }
    main .contenedorPadre__nosotros .nosotros__imagen {
      grid-area: imagen;
      margin: 0 auto 24px;
      display: flex;
      justify-content: center; }
      main .contenedorPadre__nosotros .nosotros__imagen .img__nosotros {
        border-radius: 5px;
        width: 80%; } }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  main .contenedorPadre__nosotros {
    display: grid;
    grid-template-areas: "titulo" "texto" "imagen";
    grid-template-columns: 100%; }
    main .contenedorPadre__nosotros .tituloDePagina__contenedor {
      grid-area: titulo; }
    main .contenedorPadre__nosotros .nosotros__texto {
      grid-area: texto;
      margin: 0 40px 24px 40px;
      line-height: 20px;
      font-size: 16px;
      display: flex;
      justify-content: center; }
      main .contenedorPadre__nosotros .nosotros__texto p {
        margin: 0; }
    main .contenedorPadre__nosotros .nosotros__imagen {
      grid-area: imagen;
      margin: 0 auto 24px;
      display: flex;
      justify-content: center; }
      main .contenedorPadre__nosotros .nosotros__imagen .img__nosotros {
        border-radius: 5px;
        width: 80%; } }

@media only screen and (min-width: 1024px) {
  main .contenedorPadre__nosotros {
    display: grid;
    grid-template-areas: "titulo titulo" "texto imagen";
    grid-template-columns: 50% 50%; }
    main .contenedorPadre__nosotros .tituloDePagina__contenedor {
      grid-area: titulo; }
    main .contenedorPadre__nosotros .nosotros__texto {
      grid-area: texto;
      margin: 0 40px 40px 40px;
      line-height: 24px; }
      main .contenedorPadre__nosotros .nosotros__texto p {
        margin: 0; }
    main .contenedorPadre__nosotros .nosotros__imagen {
      grid-area: imagen;
      margin: 0 0 40px 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .contenedorPadre__nosotros .nosotros__imagen .img__nosotros {
        border-radius: 5px;
        width: 80%; } }
